/* USER VARIABLES SECTION */

:root {

	--text: #000;
	--regular-text: 16px;
	--lineheight: 1.65;
	--userfont: roboto-st, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
/* .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; } */

/* FONTS LOAD SECTION */

@font-face {
	src: url("../fonts/roboto-regular-webfont.woff2") format("woff2");
	font-family: "roboto-st";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/roboto-italic-webfont.woff2") format("woff2");
	font-family: "roboto-st";
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url("../fonts/roboto-bold-webfont.woff2") format("woff2");
	font-family: "roboto-st";
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2");
	font-family: "roboto-st";
	font-weight: 700;
	font-style: italic;
}

/* GENERAL CSS SETTINGS */

::placeholder {
	color: #666;
}

::selection {
	background-color: var(--accent);
	color: #fff;
}

input,
textarea {
	outline: none;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
	border-color: red;
}

input:required:valid,
textarea:required:valid {
	border-color: green;
}

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	background-color: #fff;
	padding: 0;
	margin: 0;

}

img {
	padding: 0;
}

html {
	font-size: 16px;
}

/* USER STYLES */

.header {
	width: 90rem;
	margin: 0 auto;
	padding: 0;
}

.container {
	max-width: 73.1rem;
	margin: 0 auto;
	padding: 0.3rem;
}

.nav {
	margin-top: 3.9rem;
	margin-bottom: 8.8rem;

}

.nav__inner {
	width: 90rem;
	margin: 0 auto;
	padding: 0;
	border-bottom: 3px solid #009ACD;
}

.nav__items {
	display: flex;
	justify-content: space-around;
}

.nav__item {
	list-style-type: none;
}

.nav__link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.4rem;
	text-transform: uppercase;
	text-decoration: none;
	color: #009ACD;
}

.nav__link:hover {
	color: #077230;
	transition: 0.3s ease;
}

.header__inner {
	height: 53.1rem;
	background-image: url(../images/bg-header.jpg);
	background-repeat: no-repeat;
	background-size: 120%;
	background-size: cover;
	background-position: top;
	/* background-position-y: 1rem; */
	/* background-position-x: 10rem; */

	padding-top: 3.25rem;

}

.header__title {
	font-family: 'Inria Serif';
	font-style: normal;
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 4.25rem;
	background-color: #fff;
	width: 30rem;
	padding-left: 5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-right: 1rem;
	margin-top: 9rem;

}

.header__subtitle {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 1.1rem;
	line-height: 1.4rem;
	text-align: justify;
	color: #FFFFFF;
	max-width: 30rem;
	margin-left: 5rem;
	margin-top: 3.6rem;
}

.header__link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.4rem;
	text-transform: uppercase;
	background: linear-gradient(90deg, #009ACD 0%, #D0F9F2 100%);
	color: #fff;
	text-decoration: none;
	padding: 1.6rem 4.4rem;
}

.about__inner {
	display: flex;
	margin-bottom: 6.3rem;
}

.about__photo img {
	width: 20rem;
	height: 20rem;
	border-radius: 50%;
	margin: 5rem;
}

.about__info {}

.about__name {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 3.1rem;
	line-height: 3.7rem;
}

.about__text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.4rem;
}

.about__phone {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 2.5rem;
	line-height: 2.9rem;
	text-transform: uppercase;
	margin-top: 2rem;
}

.about__phone-link {
	color: #000;
	text-decoration: none;
}

.history {
	width: 90rem;
	margin: 0 auto;
	padding: 0;


}

.history__inner {
	display: flex;
	padding: 0;
	margin: 0;

}

.history__map {
	background-image: url(../images/taimap_big.jpg);
	padding-right: 37.8rem;
	height: 62rem;
	background-size: cover;
	background-position: bottom;
}

.history__info {

	padding: 0;

}

.history__title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.4rem;
	text-transform: uppercase;
	color: #009ACD;
	padding: 0 0 0 3.1rem;
	margin-top: 1.6rem;

}

.history__subtitle {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 2.2rem;
	line-height: 2.6rem;
	text-transform: uppercase;
	color: #000000;
	padding: 0 0 0 3.1rem;
	margin-bottom: 2.5rem;
	margin-top: 0.6rem;

}

.history__slider img {
	width: 40.6rem;

}

.history__text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.4rem;
	text-align: justify;
	color: #000000;
	margin: 0 auto;
	padding: 3.1rem;
	padding-right: 12.5rem;

}

.history__items {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.history__items {
	padding: 0 0 0 3.7rem;
	padding-right: 12.5rem;
}

.history__item {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.4rem;
	text-transform: uppercase;
	color: #009ACD;
}

.history__item img {
	padding-right: 5px;
	max-width: 2rem;
}

.wave {
	width: 90rem;
	margin: 0 auto;
	/* padding: 9rem 0; */
	background: linear-gradient(0deg, #03383C 0%, rgba(3, 56, 60, 0) 100%), url(../images/wave.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	font-size: 5rem;
	line-height: 8.1rem;


	text-align: center;
	text-transform: uppercase;

	color: #03383C;
}

.wave__inner {

	padding-top: 3.8rem;
}

.wave__offer {

	background: rgba(255, 255, 255, 0.8);
}

.wave__contact {
	display: flex;
	justify-content: center;
	align-items: center;
}

.wave__contact-images {
	align-content: center;
	margin-top: 3.1rem;
}

.wave__contact-text {
	display: flex;
	justify-content: center;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	font-size: 1.6rem;
	line-height: 8.1rem;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;


}

.wave__contact-link {
	font-size: 3.1rem;

	line-height: 8.1rem;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-left: 2.5rem;

}

.wave__contact-link:hover {
	transform: scale(1.1);
	transition: 0.3s ease;
}

.wave__contact-link+.wave__contact-link {
	margin-left: 2.3rem;
}

.villas {
	width: 90rem;
	margin: 0 auto;
	padding: 0;
	background: linear-gradient(180deg, #EFDFD5 91.67%, rgba(239, 223, 213, 0) 100%);
	padding-top: 5rem;
	padding-bottom: 11.7rem;

}

.villas__inner {
	display: flex;
	justify-content: center;


}


.villas__block {
	display: block;

}

/* .villas__block+.villas__block {
	margin-left: 5rem;
} */
.villas__images {
	width: 28.9rem;
	text-align: center;
	margin: 0 auto;
}

.villas__images img {
	width: 28.9rem;
	text-align: center;
	margin: 0 auto;
}

.villas__desc {
	text-align: center;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.4rem;
	text-transform: uppercase;
	background-color: #fff;
	padding: 1rem;
	width: 27rem;
	/* margin-left: 3.75rem;
	 */
	 margin-left: auto;
		margin-right: auto;
	color: #000000;
}

.rental__inner {
	margin-top: 3.8rem;
	margin-bottom: 3.1rem;
}

.rental__title p {

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 2.5rem;
	text-align: center;
	text-transform: uppercase;

	color: #000000;
}

.rental__slider {}

.rental {}

.rental__items {
	text-align: center;

}

.prev,
.next {
	cursor: pointer;
	width: 2rem;
	z-index: 22;
	opacity: 70%;

}

.prev:hover,
.next:hover {
	opacity: 100%;
}

.prev {
	position: absolute;
	top: 40%;
	transform: rotate(180deg);

}

.next {
	position: absolute;
	top: 40%;
	left: 97%;
}

.rental__name {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 2.5rem;
	text-align: center;
	text-decoration-line: unone;
	text-transform: uppercase;
	color: #000;
}

.rental__img img {
	margin: 0 auto;
	max-width: 28.1rem;

}

.rental__price {
	margin-bottom: 1rem;
}

.rental__bookBtn {}

.rental__book-link {

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 2.5rem;
	text-decoration-line: underline;
	text-transform: uppercase;
	color: #9D9D9D;

}

.rental__book-link:hover {
	color: #3a3939;
}

.footer__inner {
	width: 90rem;
	margin: 0 auto;
	background-image: url(../images/w-bottom.png);
	background-position: top;
	background-size: cover;
	height: 56rem;
}

@media (max-width: 1400px) {

	body,
	html {
		font-size: 14px;
	}
	/* .villas__desc {
		margin-left: 53px;
		} */
}


@media (max-width: 1260px) {

	body,
	html {
		font-size: 13px;
	}
	/* .villas__desc {
		margin-left: 3rem;
		} */
}

@media (max-width: 1170px) {

	body,
	html {
		font-size: 11px;
	}
	.about__inner {
  
    margin-bottom: 2.3rem;
}
	.history__map {
		height: 69rem;
	}

}
@media (max-width: 990px) {

	body,
	html {
		font-size: 10px;
	}


}
@media (max-width: 898px) {

	body,
	html {
		font-size: 9.5px;
	}
}
@media (max-width: 858px) {

	body,
	html {
		font-size: 9px;
	}
}
@media (max-width: 810px) {

	body,
	html {
		font-size: 8.5px;
	}
}
@media (max-width: 762px) {

	body,
	html {
		font-size: 8px;
	}
}
@media (max-width: 720px) {

	body,
	html {
		font-size: 7px;
	}
}
@media (max-width: 630px) {

	body,
	html {
		font-size: 6px;
	}
}
@media (max-width: 536px) {

	body,
	html {
		font-size: 5.5px;
	}
}
@media (max-width: 490px) {

	body,
	html {
		font-size: 5px;
	}
}
@media (max-width: 420px) {

	body,
	html {
		font-size: 4.5px;
	}
	.history__item {
		margin-top: 4rem;
	}
	.rental__img img {
    max-width: 46.1rem;
}
.villas__images {
	width: auto;
}
.villas__images img{
	width: 46.1rem;
}
.villas__desc{
	width: 44.5rem;
}
.nav__item {
	
	margin-right: 12rem;
}
}
@media (max-width: 415px) {

	body,
	html {
		font-size: 4.5px;
	}
	.history__item {
		margin-top: 4rem;
	}
	.rental__img img {
    max-width: 46.1rem;
}
.villas__images {
	width: auto;
}
.villas__images img{
	width: 46.1rem;
}
.villas__desc{
	width: 44.1rem;
}
.nav__item {
	
	margin-right: 12rem;
}
}
@media (max-width: 390px) {

	body,
	html {
		font-size: 4px;
	}
	.history__item {
		margin-top: 4rem;
	}
	.rental__img img {
    max-width: 46.1rem;
}
.villas__images {
	width: auto;
}
.villas__images img{
	width: 46.1rem;
}
.villas__desc{
	width: 44.3rem;
}
}
@media (max-width: 350px) {

	body,
	html {
		font-size: 3.5px;
	}
	.history__item {
		margin-top: 4rem;
	}
	.rental__img img {
    max-width: 46.1rem;
}
.villas__images {
	width: auto;
}
.villas__images img{
	width: 46.1rem;
}
.villas__desc{
	width: 44.3rem;
}
}